!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Firefox OS: from zero to hero

    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/marvel.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section
        h1 Firefox OS:<br/>from zero to hero
        h2.lowercase <a href="http://soledadpenades.com/files/t/mozilla-power-13-firefox-os">http://bit.ly/MP13FXOS</a>


      section
        h2 <a href="http://soledadpenades.com">Soledad Penadés</a>
        h3.bullet Apps Engineer at <a href="http://mozilla.org">Mozilla</a>
        ul
          li <a href="https://twitter.com/supersole">@supersole</a> in Twitter
          li #apps in irc.mozilla.org

      section
        h1.bullet Revelations time
        h2.bullet You (almost) already are Firefox OS developers

      section
        h1.bullet Have you ever developed a website?
        h1.bullet Was it responsive?
        h2.bullet You're halfway there

      section
        h1.bullet Firefox OS apps === HTML+JS+CSS
        h2.bullet Plus a manifest

      section
        h1.bullet You don't start<br />from zero

      section
        h1.bullet Bring your<br />web skills with you
        ul
          li Existing libraries+frameworks usually work fine
          li Hardware constraints (be reasonable)

      section
        h1.bullet "But I can't do <em>X</em><br />with HTML5"
        ul
          li That's fine, native apps can't do <em>Y</em> or <em>Z</em> either
          li Take the best out of your platform
          li And file bugs if you think something should be different!

      section
        h1.bullet Steps to success
        ol
          li Write your web app
          li Upload to your server or to the marketplace
          li Done

      section
        h1.bullet Basic app structure
        ul
          li Front end code
          li Plus a manifest

      section
        h1.bullet The manifest
        h2.bullet JSON file with metadata about the app
        ul
          li app name, icons, ...
          li what is the entry point? (e.g. <tt>index.html</tt>)
          li what special features does the app require? (i.e. permissions, optional)

      section
        h1.bullet Manifest example
        code.language-javascript
          pre.
            {
              "name": "My App",
              "description": "This is a fantastic app",
              "launch_path": "/",
              "icons": { "128": "/img/icon-128.png" },
              "developer": {
                "name": "Your name or organization",
                "url": "http://your-homepage-here.org"
              }
            }

      section
        h1.bullet Three types of apps
        h2.bullet According to the amount of privileges they require
        ol
          li Hosted
          li Privileged
          li Certified

      section
        h1.bullet Less privileges === less access to sensitive APIs
        h2.bullet We care a hell of a lot about user privacy and security


      section
        h1.bullet App types: Hosted
        ul
          li stored on your server
          li easy to upgrade
          li the least privileges
        p <a href="https://developer.mozilla.org/en-US/Apps/Developing/App_permissions?redirectlocale=en-US&redirectslug=Web%2FApps%2FApp_permissions">full list of permissions vs app types</a>

      section
        h1.bullet App types: Privileged
        ul
          li reviewed by the Marketplace
          li packaged
          li signed

      section
        h1.bullet App types: Certified
        ul
          li part of the OS
          li only for Mozilla and partners


      
      section
        h1 Thank you!
        h2 <a href="http://soledadpenades.com">Soledad Penadés</a>
        h2 <a href="https://twitter.com/supersole">@supersole</a>
        h2 sole@mozilla.com


      
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
